# PlatformIO
.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

# VSCode
.vscode

# Build artifacts
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Compiled binaries
*.bin
*.elf
*.hex
